<!--
     actions: { 
        nextStep() {
            increment counter
            increment progress bar
            animate question and progress bar }--> 

<div class="remindr-inputs">
  <div class="questions">
    <p>{{currentQuestion}}</p>
    <input type="text" autofocus />
<!--     <ol>
      {{#each questions key="@index" as |question|}}
        <li>
          <span><label>{{question}}</label></span>
        </li>
      {{/each}}
    </ol>
 -->  </div>
  <div class="controls">
    <button onclick={{action next}} class="next-question">Next</button>
    <progress value="{{questionNumber}}" max="4"></progress>
    <span class="current-question-number">{{questionNumber}} / 3</span>
  </div>
</div>